# Credenziali e Configurazione (FONDAMENTALE)
config.py
auth.py
*.env

# File di dati e log
*.json
*.log
logs/
__pycache__/
*.pyc

# Cartelle di sistema/ambiente virtuale
venv/
.venv/
.idea/
.vscode/
